@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #eeeef0;
  --background: #141527;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #eeeef0;
    --background: #141527;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
